* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.navbar-brand img{
    width: 50%;
}

/* ------------------MAIN-------------------------------- */

.ClaseDeMain{
    background-image: url('./img/polera_colores.jpeg');
    background-repeat: repeat;
    background-size: cover;
    margin: -13%;   
}

.ClaseDeMain h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: #7d1b1b;
    margin-top: 10%;
    margin-left: 80%;   
}

.animate__animated {
    animation-iteration-count: infinite;
}

.container{
    background-color: #7d1b1b;
    border-radius: 5px;
    width: 100%;
    height: 80vh;
    margin-top: -35%;
    padding: 2em;
}

/* --------------------CONTACTO------------------------------ */

.contacto{
    background-color: blanchedalmond;
    opacity: 80%;
    width: 50%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em;
    border-radius: 5px;
}
/* --------------------FOOTER-------------------------------- */

.footer {
    background-color: rgb(240, 238, 236);
    padding: 1em;
    width: 100%;
  }
  
  .footer ol {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    list-style: none;
    height: 0.8rem;
  }
  
  .footer i {
    color: rgb(41, 19, 127);
    width: 80%;
  }
  
/* --------------------MEDIA QUERIES------------------------- */
@media (max-width: 1140px);{
    main img{
        width: 0 auto;
    }
    .container{
        width: 0 auto;
    }
}

@media (min-width: 540px);{
    main img{
        height: 80vh;
    }
    .container{
        flex-direction: column;
        height: 80vh;
    }
    .ClaseDeMain h2{
        text-align: left;
    }

}